name: Publish Container Images
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  push_to_registry:
    name: Build and push images to quay.io/medik8s
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Log in to Quay.io
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: Build and push CSV 0.0.1 + latest images, for pushes
        if: ${{ github.ref_type != 'tag' }}
        run: make container-build container-push

      - name: Build and push versioned CSV and images, for tags
        if: ${{ github.ref_type == 'tag' }}
        # remove leading 'v' from tag!
        run: export VERSION=$(echo $GITHUB_REF_NAME | sed 's/v//') && make container-build container-push

      - name: Build and push index image with versioned NHC + SNR images
        if: ${{ github.ref_type != 'tag' }}
        run: |
          # get script from github
          NAME=build-nhc-snr.sh
          curl https://raw.githubusercontent.com/medik8s/tools/main/scripts/${NAME} -o ${NAME}
          chmod +x $NAME
          
          # set version vars
          VERSION=9.9.9-ci
          export NHC_VERSION=${VERSION}
          export SNR_VERSION=${VERSION}
          export INDEX_VERSION=${VERSION}
          
          # build and push images
          ./$NAME --skip-deploy
